################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/1/const/Project1/.vs/Project1/FileContentIndex/5b90ee91-02c6-45fe-b3af-4daa5d223fba.vsidx
